include ./rte
include ./quote
include ./latest-news


mixin components(components)
    each component in components
        .section
            .container
                if component.__t == "RTE"
                    +rte(component)
                if component.__t == "Quote"
                    +quote(component)
                if component.__t == "LatestNews"
                    +latest-news(component)