include ./rte
include ./quote


mixin components(components)
    each component in components
        .section
            if component.__t == "RTE"
                +rte(component)
            if component.__t == "Quote"
                +quote(component)