mixin header(header)
    .header
        .header__logo
        button.header__main-menu-toggle.hamburger.hamburger--slider(type=button, role=navigation)
            span.header__main-menu-toggle-box.hamburger-box
                span.header__main-menu-toggle-inner.hamburger-inner
        h1.header__title="Volunteer"

