mixin main-menu(menu)
    .main-menu
        .main-menu__links
            each link in menu.links
                a.main-menu__link.main-menu__link--primary(href=link.url)=link.name
                if link.secondary && link.secondary.length
                    .main-menu__secondary-links
                        each secondary in link.secondary
                            a.main-menu__link.main-menu__link--secondary(href=secondary.url)=secondary.name