

$font-family-serif: 'Zilla Slab', serif;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;

$color-white: #FFF;
$color-red: #A01F64;
$color-navy: #25283D;
$color-lavender: #A675A1;
$color-rose: #CEA2AC;
$color-almond: #EFD9CE;

//TODO: where is this in the pallette? I took this color from the rte background color of the design
$color-background: #F9F4F0;