
// https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle
//used flex instead

@mixin header-lines($color) {
        text-align: center; 
        display: flex;
        flex-direction: row;
        align-items: center;

        &:before,
        &:after {
        background-color: $color;
        content: "";
        // display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        // width: 50%;
        flex-grow: 1;
    }

    &:before {
        margin-right: .5em;
        // right: 0.5em;
        // margin-left: -50%;
    }

    &:after {
        margin-left: .5em;
        // left: 0.5em;
        // margin-right: -50%;
    }
}