@mixin rte-styles() {
    @extend .font__body;
    // text-align: center;
    a {
        @include link--red;
    }
}

.rte {
    position:relative; //for header-lines 
    text-align: center;

    &__content {
        @include rte-styles();
    }

    &__header {
        font-style: italic;
        color: $color-rose;
        @include header-lines($color-rose);
        @extend .font__subhead1;
        margin-bottom: 1em;
    }

    &__cta {
        margin: 1em;
    }

}