.section {
    
    padding-top: 32px;
    padding-bottom: 32px;

    //TODO: isolate to <section> elements?
    //OR maybe just give the components a checkbox
    &:nth-of-type(2n + 1){
        background-color: $color-background;
    }

    @include above(tablet){
        padding-top: 72px;
        padding-bottom: 72px;
    }

}
